*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

html,body{
    overflow-x: hidden;
}

.start{
    padding: 8rem 0;
    position: relative;
    text-transform: uppercase;
    background: radial-gradient(#4286f4, #373B44);
}

.start h2{
    color: rgba(255, 255, 255, 0.877);
}

.start h1{
    font-size: 102px;
    width: 90%;
    margin-left: auto;
    padding: 3rem 0;
    line-height: 80px;
    color: #fff;
}

.icons-port a{
    color: #17244d;
    text-decoration: none;
    font-size: 40px;
    margin: 0 .3rem;
}

.icons-port a:hover{
    color: #374677;
}

.start p{
    width: 50%;
    margin-left: auto;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.692);
}

.custom-shape-divider-bottom-1710468622 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1710468622 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 67px;
}

.custom-shape-divider-bottom-1710468622 .shape-fill {
    fill: #b1cfff;
}

.portfolio{
    padding: 6rem 0;
    background: linear-gradient(to bottom,#b1cfff, #4286f4);
}

.portfolio h2{
    font-size: 48px;
    color: #f1f1f1;
    text-shadow: 2px 2px 4px #373B44;
}

.portfolio-container{
    padding-top:6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projeto{
    width: 45%;
    display: inline-block;
    padding: 1rem;
    margin-bottom: 3rem;
}

.projeto img{
    width: 100%;
    transition: .5s transform;
    filter: drop-shadow(4px 4px 4px #000);
}

.projeto img:hover{
    transform: scale(1.1);
}

footer{
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid #000;
    background-color: #28468d;
    color: #fff;
}

@media screen and (max-width: 1024px){
    .container{
        padding: 0 1rem;
    }
}

@media screen and (max-width:768px){

    .start h1{
        font-size: 64px;
        line-height: 50px;
    }
    
    .icons-port a{
        font-size: 35px;
    }
    
    .start p{
        width: 60%;
        margin-left: auto;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.692);
    }
}

@media screen and (max-width: 500px) {
    .start h1{
        width: 100%;
        font-size: 32px;
        line-height: 30px;
        padding: 2rem 0;
    }

    .icons-port a{
        font-size: 24px;
    }

    .start p{
        width: 100%;
        font-size: 15px;
        line-height: 20px;
    }

    .projeto{
        width: 100%;
    }
}